:root {
  text-align: left;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e4ebf5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #9baacf;
}

input:focus,
select:focus {
  border-color: transparent;
  outline: none;
}

.card {
  width: 70%;
  border-radius: 1rem;
  box-shadow: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #fff;
  padding: 4rem;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;

  margin-bottom: 5px;
}

.search__input {
  width: 85%;
  height: 2rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: inset 0.1rem 0.1rem 0.3rem #c8d0e7, inset -0.1rem -0.1rem 0.3rem #fff;
  background: none;
  font-family: inherit;
  color: #9baacf;
  padding-left: 10px;
}

.select {
  width: 90%;
  height: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #c8d0e7, -0.1rem -0.1rem 0.3rem #fff;
  cursor: pointer;
  transition: 0.3s ease;
  color: #9baacf;
  background: none;
  border: none;

  padding-left: 10px;
  padding-right: 10px;
}

.title {
  font-size: 16px;
  margin-bottom: 20px;
}

.label {
  text-align: left;
  font-size: 12px;
  margin-bottom: 4px;
}

.result {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.updated_time {
  font-size: 11px;
}
